@import '../../../styles/_typography'
@import '../../../styles/_variables'
.mainContainer
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    position: relative
    z-index: 2
.containerFlower
    display: flex
    width: 100%
    height: 100vh
    background: trasnparent
    position: fixed
    overflow: hidden
    z-index: 1
    top: 0
.flowers
    width: 20%
    height: 70%
    left: -40px
    top: -10px
    position: absolute
.flowerRight
    width: 20%
    height: 70%
    right: -40px
    top: -10px
    position: absolute
    transform: scaleX(-1)
.text
    font-family: $signature
    color: $pink
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2)
    stroke-dashoffset: 1000
    stroke-dasharray: 100
.containerPhoto
    display: flex
    justify-content: center
    align-items: center
    background-image: url(/images/flowersCircle.png)
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: center
    position: relative
    max-width: 450px
    max-height: 450px
    width: 450px
    height: 450px

    img
        width: 75%
        min-width: 350px
        margin-top: 5px
  
.containerMain
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 100%
    height: 100%
    z-index: 0

.textContainer
    @extend .text
    width: auto
    height: auto
    display: flex
    flex-direction: column
    p:nth-child(1)
        font-size: 13rem
        margin-bottom: -150px
        position: relative
        &::after
            content: "aís"
            position: absolute
            left: 115px
    p:nth-child(2)
        white-space: nowrap
        font-size: 7rem
        margin-left: 70px
