@import '../../../styles/_typography'
@import '../../../styles/_variables'

.text
    font-family: $signature
    color: $pink
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2)
    stroke-dashoffset: 1000
    stroke-dasharray: 100
.containerPhoto
    display: flex
    justify-content: center
    align-items: center
    background-image: url(/images/flowersCircle.png)
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: center
    position: relative
    padding: 25px 5px
    height: 100%
    img
        width: 80%
        margin-top: 10px

.containerMain
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 10%
    height: 100%
    min-height: 100vh
    width: 100%
    z-index: 0

.nameContainer
    @extend .text
    display: flex
    justify-content: center
    align-items: center
    width: auto
    display: flex
    padding: 5px
    figure
        justify-content: center
        display: flex
        width: 100%
    img
        min-width: 50px
        width: 90%
@media screen and ( max-width: 400px )
    .flowers, .flowerRight
        width: 40%
    .nameContainer
        img
            width: 50%
