@use '../../../styles/_typography' as typography
@use '../../../styles/_variables' as variables

.text
    font-family: typography.$signature
    color: variables.$pink
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2)
    stroke-dashoffset: 1000
    stroke-dasharray: 100
.containerPhoto
    display: flex
    justify-content: center
    align-items: center
    background-image: url(/images/flowersCircle.png)
    background-size: 90% 100%
    background-repeat: no-repeat
    background-position: center
    position: relative
    height: 100%
    width: 100%
    max-height: 450px
    max-width: 450px
    padding: 15px
    z-index: 10
    img
        width: 80%
.containerAnimals
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    position: relative
    z-index: 10
    img
        position: absolute
        bottom: 0
    img:nth-child(3)
        max-height: 280px
        z-index: 5
    img:nth-child(1)
        max-height: 70px
        z-index: 6
        left: 25%
    img:nth-child(2)
        max-height: 80px
        left: 35%
        z-index: 6
    img:nth-child(4)
        max-height: 190px
        right: 25%

.containerFlex
    display: flex
    justify-content: center
    align-items: center
    height: auto
    width: 100%
    z-index: 6
.flowersBottom
    position: absolute
    bottom: 0
    height: 50px
    width: 100%
    z-index: 15
.containerMain
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: calc(100vh - 50px)
    width: 100%
    position: relative
    overflow: hidden
    z-index: 0

.nameContainer
    @extend .text
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: auto
    height: 100%
    z-index: 6
    figure
        justify-content: center
        display: flex
        width: 100%
    img
        min-width: 180px
        width: 90%
@media screen and ( max-width: 675px )
    .flowersBottom
        width: auto
    .containerFlex
        flex-direction: column
    .containerMain
        height: calc(100vh - 95px)
    .nameContainer
        img
            width: 35%
    .containerPhoto
        width: 60%
        max-width: 450px
        max-height: 350px
        img
            width: 80%
    .containerAnimals
        width: 90%
        position: relative
        height: 50%
        z-index: 2
        img
            margin: 0
        img:nth-child(1)
            position: absolute
            left: 20%
            max-height: 50px
            z-index: 7
        img:nth-child(2)
            position: absolute
            max-height: 55px
            left: -10%
            z-index: 6
        img:nth-child(3)
            max-height: 90px
        img:nth-child(4)
            position: absolute
            right: -35px
            z-index: 1
