@import '../../../styles/_typography'
@import '../../../styles/_variables'
.textProps
    display: flex
    width: 60%
    justify-content: center
    align-items: center
    height: auto
    text-align: center
    position: relative
    font-size: 3rem
    font-family: $signature
    color: $brown
    line-height: 50px
    z-index: 5

.containerCheck
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    height: auto
    min-height: 100vh
    position: relative
    z-index: 2

.formContainer
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-size: 1.5rem
    color: $brown
    position: relative
    width: 80%
    height: auto
    padding: 10px
    z-index: 2
    &::before
        content: ''
        border-radius: 20px
        width: 100%
        height: 100%
        position: absolute
        opacity: 0.6
        background: #fdbcef
        z-index: 1
    span
        display: flex
        justify-content: center
        align-items: center
        gap: 10%
        width: 80%
        margin: 15px
    div
        display: flex
        justify-content: space-evenly
        align-items: center
        flex-wrap: wrap
        width: 80%
        z-index: 5
    label
        display: flex
        flex-direction: column
        width: 90%
        z-index: inherit
        input
            border: none
            font-size: 1rem
            height: 35px
            margin: 10px
            outline: none
            &::placeholder
                color: $brown
                font-size: 1rem
                opacity: 0.3
                text-align: center
            &:focus
                outline: 2.5px solid $pink

.buttonForm
    padding: 5px 10px
    border: none
    background: $brown
    opacity: 0.7
    color: #FFF
    z-index: 10
    cursor: pointer
    &:hover
        opacity: 1

.buttonSubmit
    padding: 10px
    font-size: 1.3rem
    border: none
    border-radius: 10px
    opacity: 0.8
    background: $pink
    color: #FFF
    cursor: pointer
    z-index: 10
    margin: 25px
    &:hover
        opacity: 1
        background: $brown
        transition: 1s ease-in 
@media screen and ( max-width: 400px )
    .textProps
        line-height: 35px
        font-size: 2.3rem
        height: auto
        width: 90%
        padding: 10px
    .formContainer
        width: 80%
        justify-content: center
        align-items: center
        span
            width: 100%
            div
                display: flex
                width: 50%
                input
                    margin-right: 15px
        div
            justify-content: center
            width: 100%
    